.title_more_area {
  width: 690px;
  margin-bottom: 20px;
  .title_name {
    color: #333333;
    font-size: 30px;
    font-weight: bold;
  }
  .more_btn {
    font-size: 22px;
    color: #cccccc;
  }
}

