.recommand_title {
  color: #333333;
  font-size: 28px;
  font-weight: bold;
  margin-left: 30px;
}
.recommand_area {
  margin-top: 10px;
  .recommand_item {
    margin-left: 30px;
    Image {
      width: 180px;
      height: 180px;
      border-radius: 16px;
      margin-bottom: 5px;
    }
    Text {
      color: #333333;
      font-size: 22px;
    }
  }
}
